@font-face {
	font-family: "fontin-bold";
	src: url("fonts/fontin-bold-webfont.woff") format("woff");
}

.transition {
	-webkit-transition: 0.25s ease-in-out;
	 -moz-transition: 0.25s ease-in-out;
	  -o-transition: 0.25s ease-in-out;
	   -ms-transition: 0.25s ease-in-out;
	    transition: 0.25s ease-in-out;
}

@keyframes spin {
	from{
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}

body {
	font-family: 'fontin-bold';
	color: white;
	padding: 20px;
	background-color: #222;
	letter-spacing: 0.02em;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#loader {
	z-index: 2;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, 1);
	position:fixed;
	left:0;
	top:0;
	display: flex;
	align-items: center;
	justify-content: center;
 }

.spinner {
	width: 160px;
	height: 160px;
	border-top:3px solid #f2b341;
	border-radius: 100%;
	animation: spin 1.5s infinite linear;
    filter: blur(1px);
}

#loader h2 {
	position: absolute;
	height: 80px;
	line-height: 1.5em;
}

.background_wrap {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: auto;
	background-image: url('https://alpha.pathofexile.com/image/layout/WftA_background.jpg?1512364400000');
}

.container {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	padding-top: 100px;
}

@media screen and (min-width: 1920px) {
	.background_wrap {
		background-size: 100%;	
	}
}

@media screen and (max-width: 550px) {
	body {
		padding: 0;
	}
}

.list_item {
	display: grid; 
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: repeat(3, 1fr); 
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	background-image: url('https://www.pathofexile.com/image/shop/deal-background-large.png'), url('https://web.poecdn.com/image/shop/daily-deal/categories/ShopItemPackageBackground.jpg?1554764519899');
	background-position: top, bottom;
	width: 291px;
	height: 240px;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	box-shadow: inset 0 0 10px 1px;
	filter: saturate(0.6);
	overflow: hidden;
	border-radius: 3px;
}

.list_item img {
	grid-area: 2 / 2 / 4 / 3;
	justify-self: center;
	align-self: center;
}

label {
	cursor: pointer;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + .label-text:before {
	grid-area: 3 / 1 / 4 / 2;
	content: url('https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/Cross.png?hash=edf6a81e4c9ce92681d0ca95b757bb27');
	background-color: #ff0000;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(78, 0, 0, 0.5);
	-webkit-background-clip: text;
	 -moz-background-clip: text;
	  background-clip: text;
}

input[type="checkbox"]:checked + .label-text:before {
	content: url('https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/Tick.png?hash=1f20be360c2bcbcdafcd6a783ed7a944');
	background-color: #00d000;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: text;
	 -moz-background-clip: text;
	  background-clip: text;
}

.label-text:after {
	grid-area: 2 / 1 / 3 / 2;
	content: attr(value);
	background-image: url('https://web.poecdn.com/image/shop/item/ShopItemCoin.png?1554764519971');
	background-repeat: no-repeat;
	background-position: top right;
	width: 36px;
	height: 39px;
	align-self: center;
    margin-left: 25px;
}

.rare {
	color: #b523e6;
}

.uncommon {
	color: #795fc0;
}

.common {
	color: #b5abe0;
}

.selected {
	color: #00ff00;
	filter: saturate(1);
}

.label-text {
	display: grid; 
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: 1.6fr 1fr 1.8fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-area: 1 / 1 / 4 / 3;
	color: #ffda4d;
	text-shadow: 1px 1px 3px black;
}

.label-text p {
	grid-area: 2 / 1 / 3 / 2;
	letter-spacing: 1px;
	font-size: 1.3em;
	text-align: start;
    margin-left: 60px;
}

.label-text h1 {
	grid-area: 1 / 1 / 2 / 3;
    font-size: 1.1em;
    margin: auto;
    max-width: 230px;
    padding-top: 0.55em;
}

a {
	width: 50px;
	height: 50px;
}

.header {
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	position: fixed;
	top: 0%;
	left: 0px;
	width: 100%;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
	 -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
	  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.dropdown {
	display: none;
}

.select2-container {
	font-size: 1.5em;
	grid-area: 1 / 1 / 2 / 2;
	width: 200px !important;
	justify-self: center;
	align-self: center;
}

.select2-container--default .select2-selection--single {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0px;
	height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: white;
	line-height: 1.6em;
	text-align: center;
}

.select2-dropdown {
	background-color: rgba(0, 0, 0, 0.9);
	border: none;
}

.select2-search--dropdown {
	display: none;
}

.select2-results {
	text-align: center;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: rgba(255, 255, 255, 0.2)
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: rgba(255, 255, 255, 0.1);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 42px;
}

.select2-container--default .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0;
}


.select2-container--default .select2-results>.select2-results__options {
	max-height: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-width: 5px 6px 0 6px;
	height: 0px;
	margin-top: -3px;
	margin: 19px -92px;
	border-color: white transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-width: 0 6px 5px 6px;
	margin: 15px -92px;
	border-color: transparent transparent white transparent;
}

.verdict {
	display: flex;
	justify-content: center;
	text-shadow: 2px 2px 2px black;
	height: 75px;
	grid-area: 1 / 2 / 2 / 3;
}

.advice {
	text-align: center;
	font-size: 1.5em;
	margin: 0 20px 0 20px;
	line-height: 0.7em;
	padding-bottom: 15px;
}

#number_container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
}

#final_number {
	font-family: sans-serif;
	background-color: gray;
	font-size: 1.5em;
	height: 1.3em;
	text-align:center;
	padding: 4px 4px 4px 8px;
	margin: 10px;
	border-radius: 15px;
	text-shadow: 1px 1px 2px black;
}
#final_number:after {
	content: url('https://web.poecdn.com/image/shop/item/ShopItemCoin.png');
	vertical-align: middle;
}

@media screen and (max-width: 615px) {
	.verdict {
		height: 100px;
	}
	#number_container {
		display: block;
	}
	#number_container p {
		margin: 10px;
	}
}

@media screen and (max-width: 380px) {
	#number_container {
		font-size: 1em;
		display: block;
	}
	#number_container p {
		margin: 10px 5px 10px 5px;
	}
	#final_number {
		height: 1.7em;
	}
	#final_number img {
		display: none;
	}
}