@font-face {
	font-family: "fontin-regular";
	src: url("fonts/fontin-regular-webfont.woff") format("woff");
}

@font-face {
	font-family: "fontin-bold";
	src: url("fonts/fontin-bold-webfont.woff") format("woff");
}

@font-face {
	font-family: "fontin-smallcaps";
	src: url("fonts/fontin-smallcaps-webfont.woff") format("woff");
}

.transition {
	-webkit-transition: 0.25s ease-in-out;
	 -moz-transition: 0.25s ease-in-out;
	  -o-transition: 0.25s ease-in-out;
	   -ms-transition: 0.25s ease-in-out;
	    transition: 0.25s ease-in-out;
}

body {

	font-family: 'fontin-bold';
	color: white;
	padding: 20px;
	background-color: #222;
	letter-spacing: 0.02em;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	background-size: auto;
    background-image: url('https://alpha.pathofexile.com/image/layout/WftA_background.jpg?1512364400000');
}

.container {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	padding-bottom: 250px;
}

@media screen and (min-width: 1920px) {
	.background_wrap {
		background-size: 100%;	
	}
}

@media screen and (max-width: 550px) {
	body {
		padding: 0;
	}
}

.list_item {
	display: grid; 
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: repeat(3, 1fr); 
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	background-image: url('https://www.pathofexile.com/image/shop/deal-background-large.png'), url('https://web.poecdn.com/image/shop/daily-deal/categories/ShopItemPackageBackground.jpg?1554764519899');
	background-position: top, bottom;
	width: 291px;
	height: 240px;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	box-shadow: inset 0 0 10px 1px;
	filter: saturate(0.6);
	overflow: hidden;
}

.list_item img {
	grid-area: 2 / 2 / 4 / 3;
	justify-self: center;
	align-self: center;
}

label {
	cursor: pointer;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + .label-text:before {
	grid-area: 3 / 1 / 4 / 2;
	content: url('https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/Cross.png?hash=edf6a81e4c9ce92681d0ca95b757bb27');
	background-color: #ff0000;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(78, 0, 0, 0.5);
	-webkit-background-clip: text;
	 -moz-background-clip: text;
	  background-clip: text;
}

input[type="checkbox"]:checked + .label-text:before {
	content: url('https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/Tick.png?hash=1f20be360c2bcbcdafcd6a783ed7a944');
	background-color: #00d000;
	color: transparent;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: text;
	 -moz-background-clip: text;
	  background-clip: text;
}

.label-text:after {
	grid-area: 2 / 1 / 3 / 2;
	content: attr(value);
	background-image: url('https://web.poecdn.com/image/shop/item/ShopItemCoin.png?1554764519971');
	background-repeat: no-repeat;
	background-position: top right;
	width: 36px;
	height: 39px;
	align-self: center;
    margin-left: 25px;
}

.rare {
	color: #b523e6;
}

.uncommon {
	color: #795fc0;
}

.common {
	color: #b5abe0;
}

.selected {
	color: #00ff00;
	filter: saturate(1);
}

span {
	display: grid; 
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: 1.6fr 1fr 1.8fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-area: 1 / 1 / 4 / 3;
	color: #ffda4d;
	text-shadow: 1px 1px 3px black;
}

span p {
	grid-area: 2 / 1 / 3 / 2;
	letter-spacing: 1px;
	font-size: 1.3em;
	text-align: start;
    margin-left: 60px;
}

span h1 {
	grid-area: 1 / 1 / 2 / 3;
	font-size: 1em;
	margin: auto;
	max-width: 250px;
	padding-top: 0.5em;
}

a {
	width: 50px;
	height: 50px;
}

.footer {
	pointer-events: none;
	position: fixed;
	justify-content: center;
	align-items: center;
	bottom: 0%;
	left: 0px;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 32%, rgba(0,0,0,0.9) 78%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	 background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 32%,rgba(0,0,0,0.9) 78%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 32%,rgba(0,0,0,0.9) 78%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.footer_title {
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer img {
	-webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
	-ms-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

.footer h1 {
	font-size: 1.5em;
	letter-spacing: 2px;
	text-shadow: 2px 2px 2px black;
	padding: 50px 0px 0px 50px;
}

.verdict {
	display: flex;
	justify-content: center;
	text-shadow: 2px 2px 2px black;
	height: 75px;
}

.advice {
	text-align: center;
	font-size: 1.5em;
	margin: 0 20px 0 20px;
	line-height: 0.7em;
	padding-bottom: 15px;
}

#number_container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
	padding-bottom: 10px;
}

#final_number {
	font-family: 'roboto';
	background-color: gray;
	font-size: 1.5em;
	text-align:center;
	padding: 8px;
	margin: 10px;
	border-radius: 15px;
	text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 900px) {
	.footer img {
		height: 120px;
	}

	.footer h1 {
		padding: 40px 0px 0px 50px;
	}
}

@media screen and (max-width: 850px) {
	.footer {
		zoom: 0.8;
	}

	.verdict {
		display: inline;
		height: auto;
	}

	.advice {
		padding-bottom: 0px;
		line-height: 0.1em;
	}

	#number_container {
		line-height: 0.5em;
	}

	#final_number {
		line-height: 1.0em;
	}
}

@media screen and (max-width: 650px) {
	.footer img {
		height: 90px;
	}

	.footer h1 {
		padding: 20px 0px 0px 30px;
	}
}

@media screen and (max-width: 550px) {
	.footer {
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 32%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		 background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 32%,rgba(0,0,0,1) 78%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 32%,rgba(0,0,0,1) 78%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	}

	.footer h1 {
		padding: 20px 0px 0px 15px;
  		font-size: 1.2em;	
	}

	.advice {
		font-size: 1.2em;
	}

	#number_container {
		font-size: 1.0em;
	}

	#final_number {
		font-size: 1.25em;
	}
}
@media screen and (max-width: 475px) {
	.footer img {
		display: none;
	}
}
.great, .good, .okay, .bad {
	display: none;
}

.great {
	color: rgb(0, 200, 0);
}

.good {
	color: rgb(190, 221, 19);
}

.okay {
	color: rgb(234, 113, 0);
}

.bad {
	color: rgb(180, 0, 0);
}