@font-face {
	font-family: "fontin-bold";
	src: url("fonts/fontin-bold-webfont.woff") format("woff");
}

.transition {
	-webkit-transition: 0.25s ease-in-out;
	 -moz-transition: 0.25s ease-in-out;
	  -o-transition: 0.25s ease-in-out;
	   -ms-transition: 0.25s ease-in-out;
		transition: 0.25s ease-in-out;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: scaleY(0);
	}
	to {
		opacity: 1;
		transform: scaleY(1);
	}
}

@keyframes slideIn {
  0% {
	opacity: 0;
	transform: translateY(-100%);
  }
  100% {
	opacity: 1;
	transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
	opacity: 1;
	transform: translateY(0);
  }
  100% {
	opacity: 0;
	transform: translateY(-100%);
  }
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-button {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.5);
	border: 0px solid transparent;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border: 0px solid transparent;
	border-radius: 0px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
	::-webkit-scrollbar {
		display: none;
	}
}



body {
	font-family: 'fontin-bold';
	color: white;
	padding: 20px;
	background-color: #222;
	letter-spacing: 0.02em;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	  -moz-user-select: none; /* Firefox */
	   -ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#loader {
	z-index: 2;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, 1);
	position:fixed;
	left:0;
	top:0;
	display: flex;
	align-items: center;
	justify-content: center;
 }

.loadEmpty, .loadCurrent {
	height: 150px;
	width: 150px;
	position: absolute;
	padding-top: 10px;
}

.loadEmpty {
	opacity: 0.5;
	filter: saturate(0);
}

.loadCurrent {
	clip-path: inset(100% 0px 0px 0px);
	transition: clip-path 0.25s;
}

.spinner {
	position: absolute;
	width: 160px;
	height: 160px;
	border-top:3px solid #f2b341;
	border-radius: 100%;
	animation: spin 1.5s infinite linear;
	filter: blur(1px);
}

noscript {
	position: absolute;
	max-width: 80%;
	padding-bottom: 250px;
	font-size: 1.2em;
	text-align: center;
}

.simulatorContainer {
	display: none;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background-color: rgba(0,0,0,0.9);
	position: fixed;
	z-index: 2;
	margin: -28px;
	width: 100%;
	height: calc(100% + 28px);
	overflow: hidden;
}

.simulatorClose {
	grid-area: 1 / 2 / 2 / 3;
	position: absolute;
	width: 40px;
	height: 40px;
	background: url(https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/Cross.png), url(https://web.poecdn.com/gen/image/WzIyLCI4NmVlNjUyYzgwYzk5YWI4NWZjZTQ1MzNlODM0Y2NkZiIseyJ0IjoyLCJzcCI6MC4zODM1fV0/9c85e2c3c2/Skill_Frame_CanAllocate.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px, 40px 40px;
	background-color: #0f0d0a;
	border-radius: 100%;
	top: 15px;
	right: 25px;
}

.simulatorClose:hover {
	filter: saturate(1.5);
}

.simulatorClose:active {
	filter: saturate(0.7);
}

.simulatorGambler {
	background-image: url(images/simulator.png);
	background-size: contain;
	background-repeat: no-repeat;
	grid-area: 1 / 1 / 5 / 2;
	display: grid;
	grid-template-columns: 10.05% 10.92% 8.1% 1.06% 38.03% 1.06% 7.75% 10.21% 12.85%;
	grid-template-rows: 14.13% 30.54% 1.09% 5.44% 7.07% 24.57% 5.54% 6.3% 5.33%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: calc(920px  * 0.74);
	width: calc(568px  * 0.74);
	align-self: center;
	justify-self: center;
}

.simulatorPoints {
	grid-area: 1 / 1 / 2 / 6;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffda4d;
	position: relative;
	height: 39px;
	line-height: 39px;
	padding: 0px 10px;
	background-color: rgba(15,13,10,0.8);
	border-top: 1px solid rgba(255,218,77,0.5);
	border-bottom: 1px solid rgba(255,218,77,0.5);
	border-radius: 10px;
	margin: 0 auto;
}

.simulatorPoints span {
	font-size: 1.5em;
}

.simulatorPoints img {
	background-repeat: no-repeat;
	background-position: center;
	width: 36px;
	height: 39px;
}

.simulatorReset {
	grid-area: 1 / 5 / 2 / 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ff2828;
	position: relative;
	height: 39px;
	line-height: 39px;
	padding: 0px 10px;
	background-color: rgba(15,13,10,0.8);
	border-top: 1px solid rgba(255,77,77,0.5);
	border-bottom: 1px solid rgba(255,77,77,0.5);
	border-radius: 10px;
	margin: 0 19% 0 auto;
}

.simulatorItem {
	grid-area: 2 / 3 / 3 / 8;
	background-repeat: no-repeat;
	background-position: center;

}

.simulatorTitle {
	grid-area: 4 / 2 / 5 / 9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-variant: small-caps;
	font-size: 1.25em;
	color: #7bd690;
	text-shadow: 0px 0px 3px green;
	padding-bottom: 1%;
}

.simulatorBox {
	grid-area: 6 / 4 / 7 / 6;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 10%;
}

.simulatorOpenBtn {
	grid-area: 8 / 5 / 9 / 6;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: hue-rotate(75deg);
	font-size: 1.25em;
	text-shadow: 0px 0px 5px rgb(255, 1, 203);
	background: url(https://web.poecdn.com/image/layout/button/button-generic-hover-left.png) left top no-repeat,
				url(https://web.poecdn.com/image/layout/button/button-generic-hover-right.png) right top no-repeat,
				url(https://web.poecdn.com/image/layout/button/button-generic-hover-middle.png) center top repeat-x;
	background-size: contain;
}

.simulatorOpenBtn:hover {
	filter: hue-rotate(75deg) brightness(1.2);
}

.simulatorOpenBtn:active {
	filter: hue-rotate(75deg) brightness(0.8);
}

.prevItems {
	grid-area: 2 / 2 / 4 / 3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: scroll;
	width: 104%;
	height: 100%;
	overflow: auto;
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-radius: 15px 0 0 10px;
	justify-content: center;
	padding: 20px 0 15px 0;
}

.prevItem {
	background-image: url('images/ItemDescNormal.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	height: calc(421px * 0.75);
	width: calc(277px * 0.75);
	color: #ffffff;
	text-shadow: 0px 0px 1px black;
	display: grid;
	grid-template-columns: 5% 90% 5%;
	grid-template-rows: 2% 15% 80% 3%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-items: center;
	align-items: center;
	position: relative;
	margin: 15px 10px;
	border-radius: 3px;
	transition-duration: 0.5s;
	 -webkit-animation: slideIn 1s forwards;
	  -moz-animation: slideIn 1s forwards;
	   animation: slideIn 1s forwards;
}

.prevItem:nth-child(1) {
	background-image: url('images/AltItemDescBright.jpg');
	filter: saturate(1.25);
	box-shadow: 0px 0px 6px 2px #ffba47;
}

.prevItem:nth-child(1):before {
	box-shadow: 0px 2px 4px -1px #ffba47;
}

.prevItem:nth-child(2) {
	background-image: url('images/AltItemDescNormal.jpg');
	box-shadow: 0px 0px 4px 1px #4772ff;
}

.prevItem:nth-child(2):before {
	box-shadow: 0px 2px 4px -1px #4772ff;
}

.prevItem:nth-child(3) {
	background-image: url('images/ItemDescNormal.jpg');
	box-shadow: 0px 0px 5px 0px #ffffff;
}

.prevItem:nth-child(3):before {
	box-shadow: 0px 2px 4px -1px #ffffff;
}

.prevItem:nth-child(n+4) {
	background-image: url('images/ItemDescDull.jpg');
}

.prevItem:before {
	position: absolute;
	content: attr(total);
	width: 40px;
	height: 40px;
	-webkit-background-clip: text;
	 -moz-background-clip: text;
	  background-clip: text;
	background: url('https://web.poecdn.com/gen/image/WzIyLCI4NmVlNjUyYzgwYzk5YWI4NWZjZTQ1MzNlODM0Y2NkZiIseyJ0IjoyLCJzcCI6MC4zODM1fV0/9c85e2c3c2/Skill_Frame_CanAllocate.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size:40px;
	background-color: #0f0d0a;
	border-radius: 100%;
	bottom: -5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prevItem h4 {
	grid-area: 2 / 2 / 3 / 3;
	font-size: 0.8em;
	text-align: center;
	padding: 8px;
	text-shadow: 0px 0px 5px black;
}

.prevItem img {
	grid-area: 3 / 2 / 4 / 3;
}

.historyLabel {
	grid-area: 1 / 2 / 2 / 3;
	display: flex;
	align-self: end;
	justify-self: center;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 20px;
}

.historyLabel:before {
	content: '';
	position: absolute;
	border-width: 5px 6px 0 6px;
	height: 0px;
	border-color: white transparent transparent transparent;
	border-style: solid;
	margin-top: 5px;
}

.historyLabel .historyTitle {
	margin-top: 60px;
	margin-bottom: 0;
	padding-bottom: 5px;
	width: 200px;
	font-size: 2em;
	border-bottom: 1px solid white;
	text-align: center;
}

.toggleSimulator {
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	position: fixed;
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 15px;
	right: 15px;
	opacity: 0.5;
}

.toggleSimulator:hover {
	opacity: 1;
}

.toggleSimulator:active {
	opacity: 0.8;
}

.toggleSimulator h4 {
	text-align: center;
	color: #ffda4d;
	height: 20px;
	line-height: 20px;
	letter-spacing: 1px;
	font-size: 1.15em;
	padding: 3px 6px;
	background-color: rgba(6, 43, 0, 0.8);
	border-top: 1px solid #4dff6380;
	border-bottom: 1px solid #4dff6380;
	border-radius: 10px;
	box-shadow: 0px 0px 6px 4px #000000bf;
}

@media screen and (max-width: 950px), screen and (max-height: 800px) {
	.simulatorContainer {
		grid-template-columns: 1fr;
		grid-template-rows: 100% 100%;
	}
	.simulatorClose {
		grid-area: 1 / 1 / 2 / 2;
		top: 30px;
		right: 25px;
	}
	.simulatorGambler {
		grid-area: 1 / 1 / 2 / 2;
		height: calc(920px * 0.5);
		width: calc(568px * 0.5);
		animation: slideIn 0.5s ease;
	}
	.simulatorPoints {
		height: 30px;
		line-height: 30px;
		padding: 0px 7px;
		font-size: 0.8em;
	}
	.simulatorPoints img {
		width: 29px;
		height: 30px;
	}
	.simulatorReset {
		height: 30px;
		line-height: 30px;
		padding: 0px 7px;
		margin: 0 7% 0 auto;
	}
	.simulatorTitle {
		font-size: 0.9em;
	}
	.simulatorOpenBtn {
		font-size: 1em;
	}
	.historyLabel {
		grid-area: 1 / 1 / 2 / 2;
		position: absolute;
		bottom: 25px;
		transition: all 2s linear;
	}
	.inactiveHistory {
		top: -30px;
		bottom: auto;
	}
	.prevItems {
		grid-area: 2 / 1 / 3 / 2;
		width: 100%;
		animation: slideIn 0.5s ease;
		animation-fill-mode: forwards;
	}
	.prevItems .inactive {
		visibility: visible;
		opacity: 1;
		height: 100%;
		animation: slideOut 0.5s ease;
	}
	.hiddenMobile {
		/*display: none;*/
		animation: slideOut 0.5s ease;
		animation-fill-mode: forwards;
	}
	.showMobile {
		visibility: visible;
		grid-area: 1 / 1 / 2 / 2;
		opacity: 1;
		height: 75%;
		border: none;
		align-content: end;
		align-self: end;
		border-top: 1px solid rgba(255,255,255,0.2);
		border-radius: 0;
		margin-bottom: 6%;
		animation: slideIn 0.5s ease;
	}
	.prevItem {
		height: calc(421px * 0.5);
		width: calc(277px * 0.5);
	}
	.prevItem:before {
		bottom: -8%;
	}
	.prevItem h4 {
		font-size: 0.55em;
	}
	.inactiveHistory:before {
		margin-top: 0px !important;
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 350px) and (max-height: 800px) {
	.simulatorClose {
		top: 30px;
		right: 20px;
	}
	.simulatorGambler {
		height: calc(920px * 0.4);
		width: calc(568px * 0.4);
	}
	.simulatorPoints {
		height: 30px;
		line-height: 30px;
		padding: 0px 7px;
		font-size: 0.6em;
	}
	.simulatorPoints img {
		width: 25px;
		height: 26px;
	}
	.simulatorItem {
		height: 75%;
		width: 75%;
		justify-self: center;
		align-self: center;
		background-size: contain;
	}
	.simulatorTitle {
		font-size: 0.7em;
	}
	.simulatorOpenBtn {
		font-size: 0.8em;
	}
}

@media screen and (max-height: 600px) and (orientation: landscape) {
	.simulatorContainer {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
	.simulatorClose {
		grid-area: 1 / 2 / 2 / 3;
	}
	.simulatorGambler {
		grid-area: 1 / 1 / 5 / 2;
		height: calc(920px * 0.35);
		width: calc(568px * 0.35);
	}
	.simulatorPoints {
		font-size: 0.5em;
	}
	.simulatorPoints img {
		width: 25px;
		height: 26px;
	}
	.simulatorReset {
		font-size: 0.6em;
	}
	.simulatorItem {
		height: 75%;
		width: 75%;
		justify-self: center;
		align-self: center;
		background-size: contain;
	}
	.simulatorTitle {
		font-size: 0.6em;
	}
	.simulatorOpenBtn {
		font-size: 0.7em;
	}
	.historyLabel {
		grid-area: 1 / 2 / 2 / 3;
		pointer-events: none;
		bottom: auto;
	}
	.prevItems {
		grid-area: 2 / 2 / 4 / 3;
		padding: 0 0 50px 0;
	}
}

@media screen and (max-height: 375px) and (orientation: landscape) {
	.simulatorGambler {
		height: calc(920px * 0.32);
		width: calc(568px * 0.32);
	}
	.simulatorPoints {
		font-size: 0.4em;
		height: 25px;
		line-height: 25px;
	}
	.simulatorPoints img {
		width: 21px;
		height: 22px;
	}
	.simulatorReset {
		height: 25px;
		line-height: 25px;
	}
	.simulatorTitle {
		font-size: 0.5em;
	}
	.simulatorOpenBtn {
		font-size: 0.5em;
	}
	.historyLabel .historyTitle {
		font-size: 1.5em;
	}
	.prevItem {
		height: calc(421px * 0.4);
		width: calc(277px * 0.4);
	}
	.prevItem h4 {
		font-size: 0.5em;
	}
	.prevItem:before {
		bottom: -10%;
	}
}

.backgroundWrap {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: auto;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://pathofexile.com/image/layout/WftA_background.jpg);
}

.itemContainer {
	--rareColor: #ffff77;
	--uncommonColor: #8888ff;
	--commonColor: #c8c8c8;
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	padding-top: 40px;
	justify-content: center;
	max-width: 1300px;
	margin: auto;
	margin-bottom: 150px;
}

.itemContainer h2 {
	cursor: pointer;
	margin-top: 60px;
	margin-bottom: 0;
	padding-bottom: 5px;
	width: 200px;
	font-size: 2em;
	border-bottom: 1px solid white;
	text-align: center;
}

.rarityLabel:before {
	content: '';
	position: absolute;
	border-width: 5px 6px 0 6px;
	height: 0px;
	margin-top: 107px;
	left: 49.5%;
	border-color: white transparent transparent transparent;
	border-style: solid;
}

.counterContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}

.counterContainer h3 {
	font-size: 1.2em;
	padding: 5px;
}

.rareContainer, .uncommonContainer, .commonContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 50px 20px 0px 20px;
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 20px;
}

.rareContainer {
	background-color: #ffff7705;
}

.uncommonContainer {
	background-color: #8888ff08;
}

.commonContainer {
	background-color: #c8c8c806;
}

.inactiveTitle {
	opacity: 0.5;
}

.itemContainer .inactiveTitle:before {
	margin-top: 102px !important;
	transform: rotate(180deg);
}

.inactive:not(.showMobile) {
	visibility: hidden;
	opacity: 0;
	height: 0;
}

@media screen and (max-width: 400px) {
	.rareContainer, .uncommonContainer, .commonContainer {
		padding: 50px 10px 0px 10px;
		min-width: 320px;
	}
}

@media screen and (min-width: 1921px), screen and (min-height: 1081px) {
	.backgroundWrap {
		background-size: cover;	
	}
}

.listItem {
	background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.pathofexile.com/image/shop/deal-background-large.png');
	background-position: -5px -5px;
	min-width: 281px;
	width: 281px;
	height: 78px;
	text-align: center;
	margin: 0 auto 90px auto;
	box-shadow: inset 0 0 5px 1px;
	border-radius: 3px;
}

.listItem:before {
	content: '';
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
	position: absolute;
	height: 78px;
	width: 281px;
	margin-left: -140px;
}

.listItem img {
	max-width: 75px;
	max-height: 75px;
	padding: 5px;
	position: absolute;
	margin: -38px 0 0 40px;
	background: -moz-linear-gradient(bottom, rgba(15,13,10,0.8) 0%, rgba(15,13,10,0.8) 55%, rgba(15,13,10,0) 56%, rgba(15,13,10,0) 100%);
	 background: -webkit-linear-gradient(bottom, rgba(15,13,10,0.8) 0%,rgba(15,13,10,0.8) 55%,rgba(15,13,10,0) 56%,rgba(15,13,10,0) 100%);
	  background: linear-gradient(to top, rgba(15,13,10,0.8) 0%,rgba(15,13,10,0.8) 55%,rgba(15,13,10,0) 56%,rgba(15,13,10,0) 100%);
	-webkit-border-radius: 100%;
	 -moz-border-radius: 100%;
	border-radius: 10%;
	border-bottom: 1px solid rgba(255,218,77,0.5);
	background-repeat: no-repeat;

}

.listItem:hover {
	background-image: url('https://www.pathofexile.com/image/shop/deal-background-large.png');
}

label {
	cursor: pointer;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + .labelText:before {
	position: relative;
	content: '';
	width: 40px;
	height: 40px;
	-webkit-background-clip: text;
	 -moz-background-clip: text;
	  background-clip: text;
	background: url('https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/Cross.png'),
				url('https://web.poecdn.com/gen/image/WzIyLCI4NmVlNjUyYzgwYzk5YWI4NWZjZTQ1MzNlODM0Y2NkZiIseyJ0IjoyLCJzcCI6MC4zODM1fV0/9c85e2c3c2/Skill_Frame_CanAllocate.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px, 40px 40px;
	background-color: #0f0d0a;
	border-radius: 100%;
	top: 38px;
	left: 20px;
}

input[type="checkbox"]:checked + .labelText:before {
	content: '';
	-webkit-background-clip: text;
	 -moz-background-clip: text;
	  background-clip: text;
	background: url('https://web.poecdn.com/image/Art/2DArt/UIImages/InGame/Tick.png'),
				url('https://web.poecdn.com/gen/image/WzIyLCJiMjc2Mjk0ODA5N2MyODUzOTQ1YWUzNTdhNDcxYzZlOCIseyJ0IjoxLCJzcCI6MC4zODM1fV0/a70a46fca1/Skill_Frame_Allocated.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px, 57px 57px;
	background-color: #0f0d0a;
}

.labelText {
	display: flex;
	color: inherit;
	text-shadow: 1px 1px 3px black;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.labelText:before {
	box-shadow: inset 0px 0px 8px -1px;
	color: inherit;
}

.labelText p {
	color: #ffda4d;
	position: relative;
	height: 39px;
	line-height: 39px;
	letter-spacing: 1px;
	font-size: 1.3em;
	top: 38px;
	right: 80px;
	padding: 2px 8px 2px 1px;
	background-color: rgba(15,13,10,0.8);
	border-top: 1px solid rgba(255,218,77,0.5);
	border-bottom: 1px solid rgba(255,218,77,0.5);
	border-radius: 0 10px 10px 0;
}

.labelText p:before {
	content: attr(value);
	background-image: url('https://web.poecdn.com/image/shop/item/ShopItemCoin.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 36px;
	height: 39px;
	position: absolute;
	margin-left: -42px;
	padding: 2px 0 2px 5px;
	background-color: rgba(15,13,10,0.8);
	top: -1px;
	border-top: 1px solid rgba(255,218,77,0.5);
	border-bottom: 1px solid rgba(255,218,77,0.5);
	border-radius: 10px 0 0 10px;
}

.labelText h1 {
	position: absolute;
	color: #ffda4d;
	font-size: 1.1em;
	font-weight: 300;
	max-width: 230px;
	padding-bottom: 0.6em;
	margin: auto;
}

a {
	width: 50px;
	height: 50px;
}

.labelText h1, .listItem img {
	opacity: 0.8;
}

.rare {
	color: var(--rareColor);
}

.uncommon {
	color: var(--uncommonColor);
}

.common {
	color: var(--commonColor);
}

.selected {
	color: #00ff00;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)), url(https://www.pathofexile.com/image/shop/deal-background-large.png);
}

.selected .labelText h1, .selected img {
	opacity: 1.0;
}

.header {
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
	 -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
	  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.dropdown {
	display: none;
}

.select2-container {
	z-index: 3;
	font-size: 1.5em;
	grid-area: 1 / 1 / 2 / 2;
	width: 200px !important;
	justify-self: center;
	align-self: center;
	margin: 0 20px;
	animation: slideUp 0.4s ease;
}

.select2-container--default .select2-selection--single {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	border-radius: 0px;
	height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: white;
	line-height: 1.6em;
	text-align: center;
}

.select2-dropdown {
	background-color: rgba(0, 0, 0, 0.9);
	border: none;
}

.select2-search--dropdown {
	display: none;
}

.select2-results {
	text-align: left;
}

.select2-results__option {
	font-size: 0.8em;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 9px 0px 9px 40px;
	-webkit-transition: all 0.5s ease-in-out;
	 -moz-transition: all 0.5s ease-in-out;
	  -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: rgba(255, 255, 255, 0.2);
}

.select2-container--default .select2-results__option[aria-selected=true]:last-of-type {
	border-radius: 0 0 5px 5px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: rgba(255, 255, 255, 0.1);
}

.select2-container--default .select2-results__option--highlighted[aria-selected]:last-of-type {
	border-radius: 0 0 5px 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 42px;
}

.select2-container--default .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
	outline: none;
}

.select2-container--open .select2-dropdown--below {
	margin: 0 -20px;
	border-radius: 0 0 5px 5px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0;
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-width: 5px 6px 0 6px;
	height: 0px;
	margin-top: -3px;
	margin: 19px -92px;
	border-color: white transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-width: 0 6px 5px 6px;
	margin: 15px -92px;
	border-color: transparent transparent white transparent;
}

@media screen and (max-width: 400px) {
	.select2-container {
		font-size: 1.25em;
		width: 160px !important;
		margin-right: -20px;
		margin-left: -10px;
		margin-right: -20px;
	}
	.select2-container--open .select2-dropdown--below {
		margin: 0px 10px;
		font-size: 0.9em;
	}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		margin: 15px -68px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		margin: 19px -68px;
	}
	.select2-results__option img {
		height: 20px;
	}
}

@media screen and (max-height: 500px) {
	.select2-container {
		margin: 0 10px;
	}
	.select2-container--open .select2-dropdown--below {
		margin: 0 -10px;
	}
	.select2-container--default .select2-results>.select2-results__options {
		max-height: 210px;
	}
}

.verdict {
	display: flex;
	justify-content: center;
	text-shadow: 2px 2px 2px black;
	height: 75px;
	grid-area: 1 / 2 / 2 / 3;
}

.advice {
	text-align: center;
	font-size: 1.5em;
	margin: 0 20px 0 20px;
	line-height: 0.7em;
	padding-bottom: 15px;
}

#numberContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25em;
}

#finalNumber {
	display: grid;
	grid-template-columns: 0.70fr 0.30fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 120px;
	align-items: center;
	font-size: 1.5em;
	padding: 9px 15px;
	margin: 10px;
	border-radius: 7px;
	text-shadow: 1px 1px 2px black;
	filter: saturate(0);
	transition: filter 0.5s ease-in-out;
	background: url(https://web.poecdn.com/image/layout/button/button-generic-hover-left.png) left top no-repeat,
	url(https://web.poecdn.com/image/layout/button/button-generic-hover-right.png) right top no-repeat,
	url(https://web.poecdn.com/image/layout/button/button-generic-hover-middle.png) center top repeat-x;
}

#total {
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
	justify-self: center;
	width: 80px;
}

#totalCoin {
	grid-area: 1 / 2 / 2 / 3;
	filter: hue-rotate(-90.4255deg);
	justify-self: center;
	margin-left: 5px;
}

@media screen and (max-width: 615px) {
	.verdict {
		height: 100px;
	}
	#numberContainer {
		display: block;
	}
	#numberContainer p {
		text-align: center;
		margin: 5px 0px 5px 0px;
	}
	#finalNumber {
		margin: 0 auto;
	}
}

@media screen and (max-width: 400px) {
	#numberContainer p {
		font-size: 0.8em;
		margin: 10px 5px 10px 5px;
	}
	#finalNumber {
		transform: scale(0.8);
	}
}