//Small Mobile Portrait Display
@mixin mobile-portrait {
	@media only screen and (max-width: 380px) {
		@content;
	}
}

//Mobile Landscape Display
@mixin mobile-landscape {
	@media only screen and (max-height: 600px) {
		@content;
	}
}

//Desktop Display
@mixin desktop {
	@media only screen and (min-width: 768px) and (min-height: 600px) {
		@content;
	}
}

//Safari mobile fixes
@mixin safari {
	@media only screen and (max-width: 600px) {
		@content;
	}
}

html {
	--rareColor: #ffff77;
	--uncommonColor: #8888ff;
	--commonColor: #c8c8c8;
	overflow: hidden;
}

body {
	font-family: dosis, sans-serif;
	user-select: none;
	color: white;
	margin: 0;
	padding: 0;
	padding: env(safe-area-inset);
	border: 0;
}

.Twilight {
	--mainColor: #feb708;
	--bgColor: #20193a;
}

.Angels_Demons {
	--mainColor: #e8da30;
	--bgColor: #2b2b2b;
}

.Thaumaturgy {
	--mainColor: #9fd42b;
	--bgColor: #191900;
}

.Polaris {
	--mainColor: #ffffff;
	--bgColor: #101010;
}

.Carnival {
	--mainColor: #de7231;
	--bgColor:#250a25;
}

.Frontier {
	--mainColor: #ffc775;
	--bgColor: #2e0707;
}

.Glimmerwood {
	--mainColor: #52ff81;
	--bgColor: #161739;
}

.Fairgraves {
	--mainColor: #55dae2;
	--bgColor:#102b1a;
}

.Oriath {
	--mainColor: #f5e559;
	--bgColor: #250606;
}

.Apocalypse {
	--mainColor: #b18955;
	--bgColor: #1f0101;
}

.Sin_Innocence {
	--mainColor: #c1a12d;
	--bgColor: #060606;
}

.Fire_Ice {
	--mainColor: #b4d6ff;
	--bgColor: #270a00;
}

.Chaos_Order {
	--mainColor: #dadada;
	--bgColor: #2d0200;
}

.Classic {
	--mainColor: #fdf790;
	--bgColor: #21120a;
}

.App {
	overflow: hidden;
	height: 100vh;
	transition: all 0.25s linear;

	@include mobile-landscape {
		display: flex;
		flex-direction: row;
		padding-left: env(safe-area-inset-left);
	}

	.header {
		display: grid;
		grid-template-columns: calc(50% - 50px) 100px calc(50% - 50px);
		grid-template-rows: 150px;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		height: 150px;
		justify-items: center;
		align-items: center;
		background: rgba(255,255,255,0.05);
		box-shadow: 0px 0px 7px 0px black;

		@include mobile-portrait {
			grid-template-rows: 100px;
			height: 110px;
		}

		@include mobile-landscape {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 0px;
			height: auto;
			width: 175px;
		}

		/* LOGO ANIMATION */
		@keyframes icon-left-flash {
			0% {
				transform: translate(0px, 0px);
			}
			50% {
				transform: translate(-8px, -20px);
			}
			100% {
				transform: translate(0px, 0px) rotate(0.01deg);
			}
		}

		@keyframes icon-middle-flash {
			0% {
				transform: translate(0px, 0px);
			}
			50% {
				transform: translate(0px, -20px);
			}
			100% {
				transform: translate(0px, 0px) rotate(0.01deg);
			}
		}

		@keyframes icon-right-flash {
			0% {
				transform: translate(0px, 0px);
			}
			50% {
				transform: translate(10px, -16px) rotate(0.01deg);
			}
			100% {
				transform: translate(0px, 0px);
			}
		}

		.icon {
			grid-area: 1 / 2 / 2 / 3;
			height: 100px;
			margin-bottom: 20px;

			@include mobile-portrait {
				height: 80px;
				margin-bottom: 10px;
			}

			@include mobile-landscape {
				grid-area: 2 / 2 / 3 / 2;
			}

			#Layer_18 {
				.st13 {
		
					&:nth-child(1) {
						animation: icon-left-flash linear 2s;
						animation-iteration-count: infinite;
					}
		
					&:nth-child(2) {
						animation: icon-middle-flash linear 2s;
						animation-iteration-count: infinite;
					}
		
					&:nth-child(3) {
						animation: icon-right-flash linear 2s;
						animation-iteration-count: infinite;
					}
				}
			}
		}

		h1 {
			grid-area: 1 / 2 / 2 / 3;
			font-size: 25px;
			text-align: center;
			text-shadow: 1px 1px 3px rgba(0,0,0,1);
			white-space: nowrap;
			padding-top: 45px;

			@include mobile-portrait {
				font-size: 20px;
				padding-top: 45px;
			}

			@include mobile-landscape {
				grid-area: 2 / 2 / 3 / 2;
			}
		}

		h2 {
			grid-area: 1 / 2 / 2 / 3;
			font-size: 15px;
			text-align: center;
			word-spacing: 2px;
			white-space: nowrap;
			padding-top: 95px;

			@include mobile-portrait {
				font-size: 13px;
				padding-top: 90px;
			}

			@include mobile-landscape {
				width: 175px;
				grid-area: 2 / 2 / 3 / 2;
			}

			@include desktop {
				font-size: 18px;
			}

			span {
				opacity: 0.7;
				margin-left: 5px;

				@include desktop {
					font-size: 18px;
				}
			}
		}

		i {
			font-size: 20px;
			padding: 3px 10px 0px 10px;

			@include desktop {
				font-size: 25px;
				padding: 6px 15px 0px 15px;
			}
		}

		.backStep, .forwardStep {
			display: flex;
			cursor: pointer;
			align-items: center;
			opacity: 0;
			pointer-events: none;
			transition: all 0.25s ease-in-out;

			@include mobile-landscape {
				width: 100%;
				justify-content: center;
			}

			h3 {
				font-size: 15px;
				margin: 0;

				@include mobile-portrait {
					font-size: 16px;
				}

				@include mobile-landscape {
					font-size: 16px;
				}

				@include desktop {
					font-size: 20px;
				}
			}

			span {
				font-size: 12px;
				opacity: 0.7;
				margin: 0;

				@include mobile-portrait {
				font-size: 13px;
				}

				@include mobile-landscape {
					font-size: 13px;
				}

				@include desktop {
					font-size: 18px;
				}
			}
		}

		.backStep {
			grid-area: 1 / 1 / 2 / 2;
			justify-self: end;
			text-align: end;
			margin-bottom: 20px;

			@include mobile-portrait {
				display: flex;
				flex-direction: column-reverse;
				margin-bottom: 10px;

				i {
					padding-right: 0;
					padding-bottom: 5px;
					align-self: flex-end;
				}
			}

			@include mobile-landscape {
				grid-area: 1 / 2 / 2 / 2;
			}
		}

		.forwardStep {
			grid-area: 1 / 3 / 2 / 4;
			justify-self: start;
			margin-bottom: 20px;

			@include mobile-portrait {
				display: flex;
				flex-direction: column;
				margin-bottom: 10px;

				i {
					padding-left: 0;
					padding-bottom: 5px;
					align-self: flex-start;
				}
			}

			@include mobile-landscape {
				grid-area: 3 / 2 / 4 / 2;
			}
		}

		.headerVisible {
			opacity: 1;
			pointer-events: initial;
		}
	}

	.mainWrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		height: calc(100vh - 150px);
		transition: transform 0.75s cubic-bezier(1, -0.14, 0, 1.25);

		@include mobile-portrait {
			height: calc(100vh - 110vh);
		}

		@include mobile-landscape {
			height: auto;
			width: calc(100vw - 185px);

			.mtxSelection.safari tbody {
				height: calc(100vh - 105px);
			}
	
			.boxSimulator.safari tbody {
				height: calc(100vh - 198px);
			}
	
			.statistics.safari tbody {
				height: calc(100vh - 105px);
			}
		}
	
		.boxSelection {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			justify-content: center;
			min-width: 100vw;
			align-content: baseline;
			overflow-y: auto;
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none;  /* IE 10+ */

			@include mobile-landscape {
				min-width: calc(100vw - 185px);
				align-content: center;
				align-self: center;
			}

			@include desktop {
				width: 768px;
				min-width: 768px;
				margin: 0 calc(50% - (768px / 2));
			}
	
			&::-webkit-scrollbar {
				width: 0;
				background: transparent;
			}

			.box {
				height: 100px;
				width: 100px;
				text-align: center;
				background-color: rgba(255, 255, 255, 0.05);
				border: 1px solid rgba(255, 255, 255, 0.05);
				border-radius: 10px;
				margin: 10px;
				transition: all 0.25s linear;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);

				@include mobile-portrait {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					height: 50px;
					width: 40%;
				}

				@include mobile-landscape {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					height: 50px;
					width: 140px;
					margin: 7px;
				}

				@include desktop {
					height: 135px;
					width: 135px;
				}
	
				&:hover {
					cursor: pointer;
					background-color: rgba(255, 255, 255, 0.1);
				}
	
				.selected {
					color: var(--mainColor);
					border-color: var(--mainColor);
				}
	
				img {
					height: 75px;

					@include mobile-portrait {
						padding-left: 5px;
						height: 50px;
					}

					@include mobile-landscape {
						padding-left: 5px;
						height: 50px;
					}

					@include desktop {
						height: 100px;
					}
				}
	
				h3 {
					font-size: 10px;
					margin: 0;
					letter-spacing: 1px;

					@include mobile-portrait {
						width: calc(100% - 55px);
						padding: 0 8px;
						font-size: 14px;
					}

					@include mobile-landscape {
						width: calc(100% - 55px);
						padding: 0 8px;
						font-size: 12px;
					}

					@include desktop {
						font-size: 17px;
						font-weight: 400;
					}
				}
			}
		}
	
		.mtxSelection {
			display: flex;
			margin: 0;
			min-width: 100vw;
			margin-top: 12px;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 40px;
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none;  /* IE 10+ */

			@include mobile-portrait {
				font-size: 14px;
				margin: 0;
			}

			@include mobile-landscape {
				margin: 0;
				margin-left: 185px;
				min-width: calc(100vw - 185px);
			}
	
			&::-webkit-scrollbar {
				width: 0;
				background: transparent;
			}
	
			table {
				overflow: hidden;
				border-radius: 10px;
				align-self: center;
				text-align: center;
				box-sizing: content-box;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
				border-spacing: 0;
				scrollbar-width: none; /* Firefox */
				-ms-overflow-style: none;  /* IE 10+ */

				@include mobile-portrait {
					width: 300px;
					margin-top: 9px;
				}

				@include mobile-landscape {
					margin-top: 15px;
					align-self: baseline;
				}
	
				&::-webkit-scrollbar {
					width: 0;
					background: transparent;
				}
	
				thead {
					display: block;
					border-radius: 10px 10px 0 0;
					background-color: rgba(0,0,0,0.5);
	
					tr {
	
						th {
							padding: 5px 8px;
							border-right: 2px solid #2a2a2a;
	
							&:nth-child(1) {
								width: 163px;
								border-left: none;

								@include desktop {
									width: 223px;
								}
							}

							&:nth-child(2) {
								width: 34px;
							}

							&:nth-child(3) {
								width: 81px;
							}
	
							&:nth-child(4) {
								width: 43px;
								border-right: none;
							}
						}
					}
				}
	
				tbody {
					display: block;
					border-radius: 0 0 10px 10px;
					overflow-y: auto;
					overflow-x: hidden;
					height: calc(100vh - 200px);
					border-spacing: 0px;
					scrollbar-width: none;
					-ms-overflow-style: none;

					@include mobile-portrait {
						height: calc(100vh - 155px);
					}

					@include mobile-landscape {
						height: calc(100vh - 55px);
					}
	
					&::-webkit-scrollbar {
						width: 0;
						background: transparent;
					}
	
					.mtx {
						height: 60px;
						background-color: rgba(255,255,255,0.07);

						@include mobile-portrait {
							height: 45px;
						}
	
						&:nth-child(odd) {
							background-color: rgba(255,255,255,0.12);
						}
	
						&:hover {
							cursor: pointer;
						}
	
						.rare {
							color: var(--rareColor);
						}
	
						.uncommon {
							color: var(--uncommonColor);
						}
	
						.common {
							color: var(--commonColor);
						}
	
						td {
							padding: 5px;
							border-right: 2px solid rgba(0,0,0,0.3);
							transition: all 0.25s ease-in-out;

							@include desktop {
								font-size: 20px;
							}
	
							&:nth-child(1) {
								width: 169px;
								border-left: 0px solid var(--mainColor);

								@include desktop {
									width: 229px;
								}
							}

							&:nth-child(2) {
								width: 40px;
							}
	
							&:nth-child(3) {
								width: 88px;
								border: none;
							}
	
							&:nth-child(4) {
								width: 50px;
								border: none;
								background-color: rgba(0,0,0,0.3);

								@include mobile-portrait {
									display: none;
								}
	
								img {
									height: 50px;
								}
							}
						}
					}
	
					.active td:first-child {
						border-left: 5px solid var(--mainColor);
						padding-left: 0px;
					}
				}
			}
		}
	
		.boxSimulator {
			display: flex;
			margin: 0;
			min-width: 100vw;
			flex-wrap: wrap;
			justify-content: center;
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none;  /* IE 10+ */

			@include mobile-portrait {
				font-size: 14px;
				width: 300px;
				padding: 0;
			}

			@include mobile-landscape {
				margin-left: 185px;
				min-width: calc(100vw - 185px);
			}

			@include desktop {
				min-width: 768px;
				width: 768px;
				margin: 0 calc(50% - (768px / 2));
			}
	
			&::-webkit-scrollbar {
				width: 0;
				background: transparent;
			}
	
			input {
				font-family: dosis;
				color: rgba(255,255,255,0.7);
				font-size: 16px;
				width: 60px;
				text-align: center;
				margin: 0 5px;
				background: transparent;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid rgba(255,255,255,0.6);
				outline: none;
				caret-color: white;
				transition: all 0.5s linear;

				@include desktop {
					font-size: 18px;
				}
	
				&:focus {
					border-bottom: 1px solid var(--mainColor);
				}
			}
	
			.searchContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				width: 85%;
				max-width: 485px;
				margin-top: 12px;
				border-radius: 10px;
				background-color: rgba(0,0,0,0.5);

				@include mobile-portrait {
					margin: 9px 7.5%;
				}

				@include mobile-landscape {
					margin: 25px 7.5% 12px 7.5%;
				}

				@include desktop {
					height: 50px;
				}
	
				h4 {
					display: flex;
					width: 40%;
					height: 40px;
					justify-content: center;
					margin: 0;
					align-items: center;

					@include desktop {
						height: 50px;
						font-size: 18px;
					}
	
					&:first-child {
						border-right: 1px solid rgba(255, 255, 255, 0.1);
						margin-left: 5px;
					}
	
					&:nth-child(2) {
						border-right: 1px solid rgba(255, 255, 255, 0.1);
						margin-left: 5px;
					}
				}
	
				button {
					cursor: pointer;
					color: white;
					height: 40px;
					width: 20%;
					font-family: dosis;
					font-weight: 600;
					font-size: 18px;
					border: none;
					border-top: 2px solid var(--mainColor);
					border-bottom: 2px solid var(--mainColor);
					border-right: 2px solid var(--mainColor);
					border-radius: 0 10px 10px 0;
					outline: none;
					background-color: transparent;
					transition: all 0.25s linear;

					@include desktop {
						height: 50px;
					}
	
					&::-moz-focus-inner {
						border: 0;
					}
				}
			}
	
			.progressBar {
				content: '';
				-webkit-clip-path: inset(0 100% 0 0);
				clip-path: inset(0 100% 0 0);
				width: 100%;
				max-width: 68.5%;;
				height: 36px;
				position: absolute;
				left: calc(200vw + 7.5%);
				border: 2px solid var(--mainColor);
				border-radius: 10px 0 0 10px;
				border-right: none;
				pointer-events: none;
				transition: opacity 0.1s ease-in-out;
	
				@media only screen and (min-width: 575px) {
					max-width: 390px;
					left: calc(200vw + (50% - (485px / 2)));
				}

				@include desktop {
					height: 46px;
				}
			}
	
			.progressCount {
				align-self: center;
				margin: 0;
				opacity: 0.5;
				position: absolute;
				top: 62px;

				@include mobile-portrait {
					top: 0px;
					font-size: 14px;
					position: relative;
				}

				@include mobile-landscape {
					top: 75px;
				}

				@include desktop {
					top: 72px;
					font-size: 20px;
				}
			}
	
			.submitResults {
				position: absolute;
				top: 62px;
				width: 100px;
				cursor: pointer;
				margin: 0;
				opacity: 0.7;
				text-align: center;
				align-self: center;
				background-color: rgba(0,0,0,0.6);
				padding: 5px;
				border: 1px solid var(--mainColor);
				border-radius: 10px;
				transition: all 0.25s linear;

				@include mobile-portrait {
					top: 0px;
					font-size: 14px;
					position: relative;
				}

				@include mobile-landscape {
					top: 75px;
				}

				@include desktop {
					top: 72px;
					font-size: 20px;
					width: 120px;
				}
	
				&:hover {
					opacity: 1;
				}
			}
	
			.submitted {
				cursor: default;
				opacity: 1;
				background-color: transparent;
				border-color: transparent;
				color: var(--mainColor);
				pointer-events: none;
			}
	
			.pending {
				pointer-events: none;
			}
	
			@keyframes popIn {
				0% {
					opacity: 0;
					transform: scale(0);
				}
				40% {
					opacity: 1;
					transform: scale(1);
				}
				80% {
					opacity: 1;
					transform: scale(1);
				}
				100% {
					opacity: 0;
					transform: scale(0);
				}
			}
	
			.fa-check {
				opacity: 0;
				animation: popIn 1.25s ease-in-out 0.25s;
			}
	
			table {
				overflow: hidden;
				width: 375px;
				border-radius: 10px;
				margin-top: 50px;
				align-self: center;
				box-sizing: content-box;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
				border-spacing: 0;
				scrollbar-width: none; /* Firefox */
				-ms-overflow-style: none;  /* IE 10+ */

				@include mobile-portrait {
					width: 300px;
					margin-top: 12px;
				}

				@include mobile-landscape {
					margin-top: 40px;
				}

				@include desktop {
					width: 415px;
					margin-top: 60px;
				}
	
				&::-webkit-scrollbar {
					width: 0;
					background: transparent;
				}
	
				thead {
					display: block;
					background-color: rgba(0,0,0,0.5);
	
					tr {
	
						th {
							padding: 5px 0;
							border-right: 2px solid #2a2a2a;
	
							&:nth-child(1) {
								width: 161px;
								border-left: none;
							}

							&:nth-child(2) {
								width: 53px;
							}

							&:nth-child(3) {
								width: 88px;
							}

							&:nth-child(4) {
								width: 56px;

								@include desktop {
									width: 52px;
								}
							}
	
							&:nth-child(5) {
								width: 60px;
								border-right: none;

								@include desktop {
									width: 56px;
								}
							}
						}
					}
				}
	
				tbody {
					display: block;
					overflow-y: auto;
					overflow-x: hidden;
					border-radius: 0 0 10px 10px;
					height: calc(100vh - 290px);
					border-spacing: 0px;
					scrollbar-width: none;
					-ms-overflow-style: none;

					@include mobile-portrait {
						height: calc(100vh - 235px);
					}

					@include mobile-landscape {
						height: calc(100vh - 158px);
					}

					@include desktop {
						height: calc(100vh - 305px);
					}
	
					&::-webkit-scrollbar {
						width: 0;
						background: transparent;
					}
	
					.simResults {
						height: 60px;
						opacity: 0.5;
						text-align: center;
						background-color: rgba(255,255,255,0.05);

						@include mobile-portrait {
							height: 45px;
						}
	
						td {
							padding: 5px 0;
							border: none;
							transition: all 0.25s ease-in-out;
	
							&:nth-child(1) {
								width: 113px;
								padding: 0 10px;
								border-right: 2px solid rgba(0,0,0,0.3);
								font-size: 14px;

								@include mobile-portrait {
									padding: 0 5px;
								}

								@include mobile-landscape {
									font-size: 16px;
								}

								@include desktop {
									width: 141px;
									font-size: 18px;
								}
							}
	
							&:nth-child(2) {
								width: 49px;
								border-right: 2px solid rgba(0,0,0,0.3);

								@include desktop {
									width: 53px;
								}
							}
	
							&:nth-child(3) {
								width: 77px;

								@include mobile-portrait {
									border-right: 2px solid rgba(0,0,0,0.3);
								}

								@include desktop {
									width: 85px;
								}
							}
	
							&:nth-child(4) {
								width: 56px;
								background-color: rgba(0,0,0,0.3);
	
								img {
									height: 50px;
								}

								@include mobile-portrait {
									display: none;
								}
							}
	
							&:nth-child(5) {
								width: 56px;
								border: none;
							}
						}
	
						.rare {
							color: var(--rareColor);
						}
	
						.uncommon {
							color: var(--uncommonColor);
						}
	
						.common {
							color: var(--commonColor);
						}
	
						&:nth-child(odd) {
							background-color: rgba(255,255,255,0.15);
						}
						
					}
	
					.wanted {
						opacity: 1;
						background-color: rgba(16, 255, 0, 0.18);
	
						&:nth-child(odd) {
							background-color: rgba(16, 255, 0, 0.25);
						}
					}
	
					.unwanted {
						opacity: 1;
						background-color: rgba(255, 0, 0, 0.18);
	
						&:nth-child(odd) {
							background-color: rgba(255, 0, 0, 0.25);
						}
					}
				}
			}
		}
	
		.statistics {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0;
			min-width: 100vw;
			scrollbar-width: none;
			-ms-overflow-style: none;

			@include mobile-portrait {
				padding-bottom: 0px;	
			}

			@include mobile-landscape {
				margin-left: 185px;
				min-width: calc(100vw - 185px);
			}
	
			&::-webkit-scrollbar {
				width: 0;
				background: transparent;
			}
	
			table {
				overflow: hidden;
				border-radius: 10px;
				margin-top: 12px;
				align-self: center;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
				box-sizing: content-box;
				border-spacing: 0;
				text-align: center;
				scrollbar-width: none;
				-ms-overflow-style: none;

				@include mobile-portrait {
					width: 300px;
					margin-top: 9px;
				}

				@include mobile-landscape {
					align-self: baseline;
				}
	
				thead {
					display: block;
					background-color: rgba(0,0,0,0.5);
	
					tr {
	
						th {
							padding: 5px 0;
							border-right: 2px solid #2a2a2a;
	
							&:nth-child(1) {
								width: 223px;
								border-left: none;
							}

							&:nth-child(2) {
								width: 50px;
							}
	
							&:nth-child(3) {
								width: 70px;
								border-right: none;
							}
						}
					}
				}
	
				tbody {
					display: block;
					overflow-y: auto;
					overflow-x: hidden;
					border-radius: 0 0 10px 10px;
					height: calc(100vh - 200px);
					border-spacing: 0px;
					scrollbar-width: none;
					-ms-overflow-style: none;

					@include mobile-portrait {
						height: calc(100vh - 160px);
					}

					@include mobile-landscape {
						height: calc(100vh - 55px);
					}
	
					&::-webkit-scrollbar {
						width: 0;
						background: transparent;
					}
	
					.stat {
						height: 30px;
						background-color: rgba(255,255,255,0.07);
	
						&:nth-child(odd) {
							background-color: rgba(255,255,255,0.12);
						}
	
						td {
							padding: 5px;
							border-right: 2px solid rgba(0,0,0,0.3);
	
							&:nth-child(1) {
								width: 213px;
								padding-left: 0px;
								font-size: 16px;
							}
	
							&:nth-child(2) {
								width: 40px;
								word-break: break-all;
							}
	
							&:nth-child(3) {
								width: 70px;
								border-right: none;
								display: flex;
								height: inherit;
								justify-content: center;
								align-items: center;
							}
						}
	
						.wanted {
							font-size: 12px;
							align-self: flex-start;
							color: #71ff71;

							@include desktop {
								font-size: 16px;
							}
						}
						
						.unwanted {
							font-size: 12px;
							align-self: flex-end;
							color: #ff6f6f;

							@include desktop {
								font-size: 16px;
							}
						}
					}
	
					.rare td:nth-child(1) {
						border-left: 5px solid var(--rareColor);
					}
					
					.uncommon td:nth-child(1) {
						border-left: 5px solid var(--uncommonColor);
					}
					
					.common td:nth-child(1) {
						border-left: 5px solid var(--commonColor);
					}
				}
			}
		}

		@include safari {
			.mtxSelection.safari tbody {
				height: calc(100vh - 325px);
			}
		
			.boxSimulator.safari tbody {
				height: calc(100vh - 415px);
			}
		
			.statistics.safari tbody {
				height: calc(100vh - 325px);
			}
		}
	}
}