html {
	--rareColor: #ffff77;
	--uncommonColor: #8888ff;
	--commonColor: #c8c8c8;
	--selectColor: #5fff5f;
}

body {
	font-family: dosis, sans-serif;
	user-select: none;
	background-color: #2f2b27;
	color: white;
	margin: 0;
	padding: 0;
	padding: env(safe-area-inset);
	border: 0;
}

.App {
	overflow: hidden;
	height: 100vh;
}

.header {
	display: grid;
	grid-template-columns: calc(50% - 50px) 100px calc(50% - 50px);
	grid-template-rows: 150px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 150px;
	justify-items: center;
	align-items: center;
}

.header .icon {
	grid-area: 1 / 2 / 2 / 3;
	height: 100px;
}

.header h1 {
	grid-area: 1 / 2 / 2 / 3;
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,1);
	white-space: nowrap;
	padding-top: 65px;
}

.header h2 {
	grid-area: 1 / 2 / 2 / 3;
	font-size: 15px;
	text-align: center;
	word-spacing: 2px;
	white-space: nowrap;
	padding-top: 115px;
}

.header h2 span {
	opacity: 0.7;
	margin-left: 5px;
}

.header i {
	font-size: 20px;
	padding: 3px 10px 0px 10px;
}

.backStep, .forwardStep {
	display: flex;
	cursor: pointer;
	align-items: center;
}

.backStep h3, .forwardStep h3 {
	font-size: 15px;
	margin: 0;
}

.backStep span, .forwardStep span {
	font-size: 12px;
	opacity: 0.7;
	margin: 0;
}

.header .backStep {
	grid-area: 1 / 1 / 2 / 2;
	justify-self: end;
	text-align: end;
}

.header .forwardStep {
	grid-area: 1 / 3 / 2 / 4;
	justify-self: start;
}

/* LOGO ANIMATION */

@keyframes icon-left-flash {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(-8px, -20px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes icon-middle-flash {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, -20px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes icon-right-flash {
	0% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(10px, -16px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

.icon #Layer_18 .st13:nth-child(1) {
	animation: icon-left-flash linear 2s;
	animation-iteration-count: infinite;
}

.icon #Layer_18 .st13:nth-child(2) {
	animation: icon-middle-flash linear 2s;
	animation-iteration-count: infinite;
}

.icon #Layer_18 .st13:nth-child(3) {
	animation: icon-right-flash linear 2s;
	animation-iteration-count: infinite;
}

.mainWrapper {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 150px);
	transition: transform 0.75s cubic-bezier(1, -0.26, 0, 1.41);
}

/* BOX SELECTION */

.boxSelection {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	justify-content: center;
	min-width: 100vw;
	align-content: baseline;
}

.box {
	height: 100px;
	width: 100px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.05);
	border-radius: 10px;
	margin: 10px;
	transition: all 0.25s linear;
}

.box:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);
}

.box.selected {
	color: var(--selectColor);
	border-color: var(--selectColor);
}

.box img {
	height: 75px;
}

.box h3 {
	font-size: 10px;
	margin: 0;
	letter-spacing: 1px;
}

.mtxSelection {
	display: flex;
	margin: 0;
	justify-content: center;
	min-width: 100vw;
	align-content: center;
	overflow-y: scroll;
	box-sizing: content-box;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
}

.mtxSelection::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.mtxSelection table {
	width: 375px;
	text-align: center;
}

.mtxSelection thead {
	height: 50px;
	background-color: rgba(0,0,0,0.5);
}

.mtxSelection thead th {
	padding: 10px;
}

.mtxSelection .mtx {
	height: 60px;
	background-color: rgba(255,255,255,0.05);
}

.mtxSelection .mtx:nth-child(odd) {
	background-color: rgba(255,255,255,0.15);
}

.mtxSelection .mtx td {
	padding: 5px;
	border: 0px solid transparent;
	transition: all 0.25s ease-in-out;
}

.mtxSelection .mtx .rare {
	color: var(--rareColor);
}

.mtxSelection .mtx .uncommon {
	color: var(--uncommonColor);
}

.mtxSelection .mtx .common {
	color: var(--commonColor);
}

.mtxSelection .mtx td:last-child {
	background-color: rgba(0,0,0,0.5);
}

.mtxSelection .mtx td:last-child img {
	height: 50px;
}

.mtxSelection .mtx:hover {
	cursor: pointer;
}

.mtxSelection .mtx td:first-child {
	padding: 5px 10px;
}

.mtxSelection .mtx.active td:first-child {
	border-left: 5px solid var(--selectColor);
	padding-left: 5px; 
}

.boxSimulator {
	display: flex;
	margin: 0;
	justify-content: center;
	min-width: 100vw;
	align-content: center;
	overflow-y: scroll;
	box-sizing: content-box;
}

.boxSimulator .searchContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 12px;
	height: 40px;
	width: 70%;
	margin: 12px 5%;
	background-color: rgba(0,0,0,0.5)
}

.boxSimulator h4 {
	display: flex;
	width: 50%;
	justify-content: center;
}

.boxSimulator h4:first-child {
	border-right: 1px solid white;
}

.boxSimulator input {
	font-family: dosis;
	color: rgba(255,255,255,0.7);
	font-size: 13px;
	width: 60px;
	text-align: center;
	margin: 0 5px;
	background: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid white;
	outline: none;
	caret-color: white;
}

.boxSimulator input:focus {
	border-bottom: 1px solid var(--selectColor);
}