
.Warlord {
	--mainColor: #00ddaa;
	--bgColor: #333;
}

.Twilight {
	--mainColor: #feb708;
	--bgColor: #20193a;
}

.Angels_Demons {
	--mainColor: #e8da30;
	--bgColor: #2b2b2b;
}

.Thaumaturgy {
	--mainColor: #9fd42b;
	--bgColor: #191900;
}

.Polaris {
	--mainColor: #ffffff;
	--bgColor: #101010;
}

.Carnival {
	--mainColor: #de7231;
	--bgColor:#250a25;
}

.Frontier {
	--mainColor: #ffc775;
	--bgColor: #2e0707;
}

.Glimmerwood {
	--mainColor: #52ff81;
	--bgColor: #161739;
}

.Fairgraves {
	--mainColor: #55dae2;
	--bgColor:#102b1a;
}

.Oriath {
	--mainColor: #f5e559;
	--bgColor: #250606;
}

.Apocalypse {
	--mainColor: #b18955;
	--bgColor: #1f0101;
}

.Sin_Innocence {
	--mainColor: #c1a12d;
	--bgColor: #060606;
}

.Fire_Ice {
	--mainColor: #b4d6ff;
	--bgColor: #270a00;
}

.Chaos_Order {
	--mainColor: #dadada;
	--bgColor: #2d0200;
}

.Classic {
	--mainColor: #fdf790;
	--bgColor: #21120a;
}