.boxSimulatorContainer {
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	.boxSimToggle {
		z-index: 1;
		pointer-events: none;
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 12px;
		padding-right: 324px;

		@include mobile-portrait {
			flex-direction: row;
			padding-right: 226px;
		}

		@include mobile-landscape {
			padding-right: 140px;
		}

		@include desktop {
			padding-right: 360px;
		}

		.toggleContainer {
			pointer-events: all;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			margin: 0;
			height: 22px;
			width: 34px;
			justify-content: center;
			align-items: center;
			font-size: 11px;
			padding: 8px;
			border: 1px solid transparent;
			border-radius: 10px;
			background: rgba(0, 0, 0, 0.5);
			transition: all 0.1s linear;

			@include mobile-portrait {
				width: 18px;
				color: transparent;
				border-radius: 0 10px 10px 0;
			}

			@include desktop {
				height: 30px;
			}

			&:first-child {
				margin-bottom: 4px;

				@include mobile-portrait {
					margin: 0;
					border-radius: 10px 0 0 10px;
				}

				@include mobile-landscape {
					margin-bottom: 6px;
				}
			}

			i {
				font-size: 18px;
				margin-bottom: 5px;
				display: flex;
				flex-direction: column;
				transition: all 0.1s linear;

				@include mobile-portrait {
					font-size: 14px;
					color: white;
					margin-bottom: -13px;
				}

				@include mobile-landscape {
					font-size: 14px;
				}
			}

			&:hover {
				border: 1px solid var(--mainColor);
				opacity: 0.8;
			}
		}

		.active {
			border: 1px solid var(--mainColor);
			
			i {
				color: var(--mainColor);
			}
		}
	}

	.boxSimulator {
		position: absolute;
		top: 0;
		transition: all 0.25s linear;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none;  /* IE 10+ */
	
		@include mobile-portrait {
			font-size: 14px;
			width: 300px;
			padding: 0;
		}
	
		@include mobile-landscape {
			margin-left: 185px;
			min-width: calc(100vw - 185px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	
		@include desktop {
		}
	
		&::-webkit-scrollbar {
			width: 0;
			background: transparent;
		}
	
		input {
			font-family: dosis;
			color: rgba(255,255,255,0.7);
			font-size: 16px;
			width: 40px;
			text-align: center;
			margin: 0 5px;
			background: transparent;
			border: none;
			border-radius: 0;
			border-bottom: 1px solid rgba(255,255,255,0.6);
			outline: none;
			caret-color: white;
			transition: all 0.5s linear;
	
			@include desktop {
				font-size: 18px;
			}
	
			&:focus {
				border-bottom: 1px solid var(--mainColor);
			}
		}
	
		.searchContainer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 40px;
			max-width: 485px;
			margin-top: 12px;
			border-radius: 10px;
	
			@include mobile-portrait {
				margin-bottom: 10px;
			}
	
			@include mobile-landscape {
				width: 375px;
			}
	
			@include desktop {
				height: 50px;
			}
	
			h4 {
				display: flex;
				width: 110px;
				height: 40px;
				justify-content: center;
				margin: 0;
				align-items: center;
				font-size: 16px;
				background-color: rgba(0,0,0,0.5);

				@include mobile-portrait {
					font-size: 14px;
				}

				@include mobile-landscape {
					width: 150px;
				}

				@include desktop {
					font-size: 20px;
					height: 50px;
					width: 173px;
				}
			}
	
			.box-input {
				border-radius: 10px 0 0 10px;
				padding-right: 5px;
				margin-right: -25px;

				@include mobile-portrait {
					width: 95px;
					padding: 0 25px 0 0;
					justify-content: flex-end;
				}
			}
	
			.points-amount {
				border-radius: 0 10px 10px 0;
				padding-left: 5px;
				margin-left: -25px;

				@include mobile-portrait {
					width: 80px;
					padding: 0 0 0 30px;
					justify-content: end;
				}
			}
	
			button {
				z-index: 1;
				cursor: pointer;
				color: var(--bgColor);
				height: 50px;
				width: 50px;
				font-family: dosis;
				font-weight: 600;
				font-size: 18px;
				border: none;
				border-radius: 100px;
				outline: none;
				background-color: var(--mainColor);
				transition: all 0.25s linear;
	
				&::-moz-focus-inner {
					border: 0;
				}

				@include mobile-portrait {
					height: 40px;
					width: 40px;
				}
			}
	
			.disable-btn {
				filter: brightness(0.2);
			}
		}
	
		.simInfoContainer {
			display: flex;
			flex-direction: row;
			margin-top: 12px;
			max-width: 95vw;
			justify-content: flex-end;
	
			@include mobile-portrait {
				margin-top: 3px;
			}
	
			@include mobile-landscape {
				margin-top: 15px;
				width: 375px;
			}
	
			@include desktop {
				
			}
	
			.submitResults {
				width: 115px;
				cursor: pointer;
				font: inherit;
				outline: none;
				color: white;
				margin-right: 8px;
				opacity: 0.7;
				text-align: center;
				align-self: center;
				background-color: rgba(0,0,0,0.6);
				padding: 5px;
				border: 1px solid var(--mainColor);
				border-radius: 10px;
				transition: all 0.25s linear;
		
				@include mobile-portrait {
					top: 0px;
					font-size: 14px;
					position: relative;
				}
		
				@include mobile-landscape {
				}
		
				@include desktop {
					font-size: 20px;
					width: 135px;
				}
		
				&:hover {
					opacity: 1;
				}
			}
		
			.submitted {
				cursor: default;
				opacity: 1;
				background-color: transparent;
				border-color: transparent;
				color: var(--mainColor);
				pointer-events: none;
			}
		
			.pending {
				pointer-events: none;
			}
		
			.hideResults {
				cursor: default;
				pointer-events: none;
				opacity: 0.2;
		
				&:hover {
					opacity: 0.2;
				}
			}
		
			.profitContainer {
				display: flex;
				justify-content: center;
				margin: 0;
				font-size: 16px;
				padding: 6px 12px;
				background: rgba(0, 0, 0, 0.5);
				border-radius: 10px;
	
				@include mobile-portrait {
					width: 147px;
					font-size: 14px;
				}
	
				@include mobile-landscape {
					width: 164px;
				}
	
				@include desktop {
					width: 188px;
					font-size: 20px;
				}
		
				span:nth-child(1) {
					color: #0d0;
					padding-right: 3px;
					font-weight: 600;
				}
		
				span:nth-child(2) {
					color: #d00;
					padding-left: 3px;
					padding-right: 2px;
					font-weight: 600;
				}
	
				.amount, .amount-positive, .amount-negative {
					padding: 0 4px;
				}
	
				.amount-positive {
					color: #0d0;
				}
	
				.amount-negative {
					color: #d00;
				}
	
	
			}
		}
	
		@keyframes popIn {
			0% {
				opacity: 0;
				transform: scale(0);
			}
			40% {
				opacity: 1;
				transform: scale(1);
			}
			80% {
				opacity: 1;
				transform: scale(1);
			}
			100% {
				opacity: 0;
				transform: scale(0);
			}
		}
	
		.fa-check {
			opacity: 0;
			animation: popIn 1.25s ease-in-out 0.25s;
		}
	
		table {
			overflow: hidden;
			width: 375px;
			border-radius: 10px;
			margin-top: 10px;
			align-self: center;
			box-sizing: content-box;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
			border-spacing: 0;
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none;  /* IE 10+ */
			transition: all 0.25s linear;
	
			@include mobile-portrait {
				width: 300px;
				margin-top: 12px;
			}
	
			@include mobile-landscape {
				margin-top: 10px;
			}
	
			@include desktop {
				width: 415px;
				margin-top: 10px;
			}
	
			&::-webkit-scrollbar {
				width: 0;
				background: transparent;
			}
	
			thead {
				display: block;
				background-color: rgba(0,0,0,0.5);
	
				tr {
	
					th {
						padding: 5px 0;
						border-right: 2px solid #2a2a2a;
	
						&:nth-child(1) {
							width: 161px;
							border-left: none;

							@include mobile-portrait {
								width: 119px;
							}
						}
	
						&:nth-child(2) {
							width: 53px;

							@include mobile-portrait {
								width: 46px;
							}
						}
	
						&:nth-child(3) {
							width: 88px;

							@include mobile-portrait {
								width: 76px;
							}
						}
	
						&:nth-child(4) {
							width: 56px;

							@include mobile-portrait {
								display: none;	
							}
	
							@include desktop {
								width: 52px;
							}
						}
	
						&:nth-child(5) {
							width: 60px;
							border-right: none;

							@include mobile-portrait {
								width: 53px;
							}
	
							@include desktop {
								width: 56px;
							}
						}
					}
				}
			}
	
			tbody {
				display: block;
				overflow-y: auto;
				overflow-x: hidden;
				border-radius: 0 0 10px 10px;
				height: calc(100vh - 290px);
				border-spacing: 0px;
				scrollbar-width: none;
				-ms-overflow-style: none;
	
				@include mobile-portrait {
					height: calc(100vh - 250px);
				}
	
				@include mobile-landscape {
					height: calc(100vh - 160px);
				}
	
				@include desktop {
					height: calc(100vh - 310px);
				}
	
				&::-webkit-scrollbar {
					width: 0;
					background: transparent;
				}
	
				.simResults {
					height: 60px;
					opacity: 0.5;
					text-align: center;
					background-color: rgba(255,255,255,0.05);
	
					@include mobile-portrait {
						height: 45px;
					}
	
					td {
						padding: 5px 0;
						border: none;
						transition: all 0.25s ease-in-out;
	
						&:nth-child(1) {
							width: 113px;
							padding: 0 10px;
							border-right: 2px solid rgba(0,0,0,0.3);
							font-size: 14px;
	
							@include mobile-portrait {
								padding: 0 5px;
							}
	
							@include mobile-landscape {
								font-size: 16px;
							}
	
							@include desktop {
								width: 141px;
								font-size: 18px;
							}
						}
	
						&:nth-child(2) {
							width: 49px;
							border-right: 2px solid rgba(0,0,0,0.3);
	
							@include desktop {
								width: 53px;
							}
						}
	
						&:nth-child(3) {
							width: 77px;
	
							@include mobile-portrait {
								border-right: 2px solid rgba(0,0,0,0.3);
							}
	
							@include desktop {
								width: 85px;
							}
						}
	
						&:nth-child(4) {
							width: 56px;
							background-color: rgba(0,0,0,0.3);
	
							img {
								height: 50px;
							}
	
							@include mobile-portrait {
								display: none;
							}
						}
	
						&:nth-child(5) {
							width: 56px;
							border: none;
						}
					}
	
					.rare {
						color: var(--rareColor);
					}
	
					.uncommon {
						color: var(--uncommonColor);
					}
	
					.common {
						color: var(--commonColor);
					}
	
					&:nth-child(odd) {
						background-color: rgba(255,255,255,0.15);
					}
					
				}
	
				.wanted {
					opacity: 1;
					background-color: rgba(16, 255, 0, 0.18);
	
					&:nth-child(odd) {
						background-color: rgba(16, 255, 0, 0.25);
					}
				}
	
				.unwanted {
					opacity: 1;
					background-color: rgba(255, 0, 0, 0.18);
	
					&:nth-child(odd) {
						background-color: rgba(255, 0, 0, 0.25);
					}
				}
			}
		}
	
		.hide-table {
			transform: translateY(100px);
			opacity: 0;
		}
	
		.show-table {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	.probabilitySim {
		position: absolute;
		top: 0;
		transition: all 0.25s linear;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none;  /* IE 10+ */

		@include mobile-portrait {
			font-size: 14px;
			width: 300px;
			padding: 0;
		}
	
		@include mobile-landscape {
			margin-left: 185px;
			min-width: calc(100vw - 185px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	
		@include desktop {
			width: 415px;
		}

		&::-webkit-scrollbar {
			width: 0;
			background: transparent;
		}

		.selectorContainer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 40px;
			max-width: 485px;
			margin-top: 12px;
			border-radius: 10px;

			@include mobile-portrait {
				margin-bottom: 10px;
			}
	
			@include mobile-landscape {
				width: 375px;
			}

			@include desktop {
				height: 50px;
			}

			h4 {
				display: flex;
				width: 110px;
				height: 40px;
				margin: 0;
				align-items: center;
				font-size: 16px;
				background-color: rgba(0,0,0,0.5);
	
				@include mobile-portrait {
					font-size: 14px;
				}
	
				@include mobile-landscape {
					width: 150px;
				}
	
				@include desktop {
					font-size: 18px;
					height: 50px;
					width: 121px;
				}
			}
	
			.boxSelector {
				position: relative;
				cursor: pointer;
				overflow: hidden;
				border-radius: 10px 0 0 10px;
				justify-content: center;
				padding-right: 20px;
				margin-right: -25px;
				border: 1px solid transparent;
				transition: all 0.25s linear;
	
				@include mobile-portrait {
					width: 87px;
					padding: 0 25px 0 0;
					justify-content: flex-end;
				}

				@include desktop {
					height: 48px;
				}

				span {
					z-index: 1;
					text-shadow: 0px 0px 2px black;
				}

				img {
					height: 78px;
					position: absolute;
					left: calc(50% - 45px);
					top: -20px;
					opacity: 0.6;
				}
			}

			button {
				z-index: 1;
				cursor: pointer;
				color: white;
				height: 50px;
				width: 50px;
				font-family: dosis;
				font-weight: 600;
				font-size: 18px;
				border: none;
				border-radius: 100px;
				outline: none;
				background-color: var(--mainColor);
				color: var(--bgColor);
				transition: all 0.25s linear;
	
				&::-moz-focus-inner {
					border: 0;
				}
	
				@include mobile-portrait {
					height: 40px;
					width: 40px;
				}

				i {
					margin-left: 4px;
				}
			}

			.activeFilter {
				color: var(--mainColor);
				border: 1px solid var(--mainColor);;
			}

			.react-select {
				margin-left: -22px;

				.react-select__control {
					height: 50px;
					width: 211px;
					background: rgba(0, 0, 0, 0.5);
					border: 1px solid transparent;
					border-radius: 0 10px 10px 0;
					transition: all 0.25s linear;

					.react-select__value-container {
						height: 100%;

						.react-select__single-value {
							height: 100%;
							margin-left: 20px;

							.listItem {
								height: 100%;
								font-size: 13px;
								font-weight: 600;
								white-space: normal;
								color: white;
								display: flex;
								align-items: center;
								transition: all 0.25s linear;


								img {
									margin-left: 5px;
									height: 30px;
								}
							}
						}
					}

					.react-select__indicators {

						.react-select__indicator-separator {
							background-color: white;
						}

						.react-select__dropdown-indicator {
							color: white;
						}

					}
				}

				.react-select__control--is-focused {
					
					box-shadow: none;
				}

				.react-select__menu {
					overflow: hidden;
					border-radius: 10px;
					background-color: rgba(0, 0, 0, 0.5);

					-ms-overflow-style: none;  /* IE and Edge */
					scrollbar-width: none;  /* Firefox */

					&:-webkit-scrollbar {
						display: none; /* Chrome */
					}
					

					.react-select__menu-list {
						padding: 0;

						-ms-overflow-style: none;  /* IE and Edge */
						scrollbar-width: none;  /* Firefox */

						&::-webkit-scrollbar {
							display: none; /* Chrome */
						}

						.react-select__option {
							display: flex;
							width: 100%;
							border-bottom: 1px solid rgba(255, 255, 255, 0.2);

							&:last-child {
								border-bottom: none;
							}

							&:hover {
								background-color: rgba(255, 255, 255, 0.05);
							}

							.listItem {
								width: 100%;
								display: flex;
								align-items: center;
								justify-content: space-between;

								img {
									height: 30px;
								}
							}
						}

						.react-select__option--is-focused {
							background-color: rgba(255, 255, 255, 0.05);
						}

						.react-select__option--is-selected {
							color: var(--bgColor);
							background-color: var(--mainColor);

							&:hover {
								color: inherit;
							}
						}
					}
				}
			}

			.activeSelect {

				.react-select__control {
					border: 1px solid var(--mainColor);

					.react-select__value-container {

						.react-select__single-value {

							.listItem {
								color: var(--mainColor);
							}
						}
					}

					.react-select__indicators {

						.react-select__indicator-separator {
							background-color: var(--mainColor);
						}

						.react-select__dropdown-indicator {
							color: var(--mainColor);
						}

					}
				}
			}
	
			.disable-btn {
				filter: brightness(0.2);
			}
		}
	}

	.hideContainer {
		pointer-events: none;
		opacity: 0;
	}
}

